<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="grft" value="https://grft.dev/cb2e8fda-fee2-474b-b610-eeee88bfd195__free" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="grft">
      <package pattern="graft.nuget.*" />
      <package pattern="Hypertube.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
